.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.button {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 10px;
  background-color: #4e4caf;
  display: inline-block;
  color: white;
  border: 2px solid #4e4caf;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(227, 252, 250);
  color: black;
}
