html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(240, 247, 246);
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
}

img {
  max-width: 100%;
  display: block;
}
.NavbarItems {
  /* background: linear-gradient(
    90deg,
    /* rgb(110, 94, 254) 0%,  rgb(178, 210, 219) 100%,
    /* rgba(73, 63, 252, 1) 100%  rgb(208, 208, 211) 100%
  ); */

  background: #1565c0;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  /* color: #ffff; */
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: default;
  font-family: sans-serif;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #322699e5;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

/* should be in popup.css but component level css is giving error */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

button {
  width: 80px;
  height: 40px;
  margin: 15px;
  background-color: rgb(165, 235, 235);
  /* color: white; */
  color: blue;
}

.booKPrice {
  font-weight: 900;
}

.bookDescription {
  text-align: justify;
  font-style: italic;
}

.textAlignLeft {
  text-align: left;
}

.searchFormatting {
  padding-bottom: 1%;
  padding-left: 0.5%;
  color: gray;
  font-size: small;
}

.gridItem {
  height: 400px;
  align-items: stretch;
}

.chipFontSize {
  font-size: smaller;
}
.Footer {
  background: linear-gradient(
    90deg,
    /* rgb(110, 94, 254) 0%, */ rgb(178, 210, 219) 100%,
    /* rgba(73, 63, 252, 1) 100% */ rgb(208, 208, 211) 100%
  );
  height: 100px;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.footer-menu {
  display: flex;
  justify-items: center;
  list-style: none;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
}

.footer-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer-links:hover {
  background-color: #a3e9e5e5;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}

/* 
Item{
  padding: theme.spacing(1);
  textAlign: 'center';
  color: theme.palette.text.secondary;
} */

.bookDetailHeading {
  text-align: left;
  padding-left: 8%;
}
.MuiPaper-root {
  box-shadow: none;
}
